@{
    ViewData["Title"] = "Rreth Nesh";
}
<h1>@ViewData["Title"]</h1>

<p>
    Gusht 2006 hapet supermarketi i parë që ndodhet në qëndrën tregtare E.T.C. me
    sipërfaqe prej 410 m2. Pak muaj më vonë në Janar të vitit 2007 një tjetër supermarket 
    me vendndodhje pranë stadiumit Selman Stermasi, me 653  m2.
    </p>
    <p>
    Një muaj me pas, Shkurt 2007, hapet në Durrës një dyqan i ri me sipërfaqe prej 500 m2, në qëndrën tregtare Galaktik.
    Në Nëntor 2007 hapet Superstorë i parë në Shqipëri në qëndrën tregtare Casa Italia në
    hyrje të Tiranës. Me një sipërfaqe prej 1439 m2 mbulon një asortiment të gjerë ushqimor dhe jo
    vetëm, ne asortimentin e tij përfshihen edhe artikuj joushqimor si veshmbathje, shtëpiake,
    shkollore, lodra etj.
</p>
